@using Blog.Services.Interfaces
@model IPagedList<BlogPost>
@inject IImageService _ImageService
@inject IBlogService _BlogService

@{
    ViewData["Title"] = "AuthorArea";
    string? actionName = ViewBag.ActionName;
    string? actionTitle = ViewBag.ActionTitle;
}

<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="m-2 row">
            <div class="col dropdown-center">
                <button class="btn btn-outline-success dropdown-toggle mb-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @actionTitle
                </button>
                <ul class="dropdown-menu">
                    <li class="nav-item" role="presentation">
                        <a asp-action="AuthorArea" asp-controller="BlogPosts" type="button" class="dropdown-item"><p style="color:black">Published Posts</p></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a asp-action="AuthorAreaDrafts" asp-controller="BlogPosts" type="button" class="dropdown-item"><p style="color:black">Drafts</p></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a asp-action="AuthorAreaDeleted" asp-controller="BlogPosts" type="button" class="dropdown-item"><p style="color:black">Deleted Posts</p></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a asp-action="AuthorAreaAll" asp-controller="BlogPosts" type="button" class="dropdown-item"><p style="color:black">All Posts</p></a>
                    </li>
                </ul>
            </div>
            <div class=" col">
                <a asp-action="Create" asp-controller="BlogPosts" class="btn btn-outline-success mb-5" type="button">New Blog Post</a> @* link to create page *@
            </div>
        </div>




        <!-- Start Post List  -->
        @* BEGIN: show this for each post *@

        @foreach (BlogPost blogPost in Model)
        {
            <partial name="_AuthorViewBlogCardPartial" model="blogPost" />
        }


        @* END: show this for each post *@

        @* paginated navigation *@
        <div class="social-icon">
            <div>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of  @Model.PageCount
            </div>
            @Html.PagedListPager(Model, pageNum => Url.Action(actionName, new {pageNum}),
            new PagedListRenderOptions { LiElementClasses = new string[] {"my-page-item"}
            , PageClasses = new string[] {"my-page-link"}
            })
        </div>
        <!-- End Post List  -->
    </div>
</div>

<!-- End Post List Wrapper  -->
