html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.my-page-item {
    display: inline-block;
    list-style: none;
}

.author_image {
    height: 150px;
    width: 150px;
}

.my-page-link {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: all 0.3s ease;
}

.my-page-item a.my-page-link:hover, a.my-page-link:active {
    color: var(--white);
    background-color: #bf4c41;
}

.my-page-item my-page-link li:first-child a {
    border-radius: 40px 0 0 40px;
}

.my-page-item my-page-link li:last-child a {
    border-radius: 0 40px 40px 0;
}

.tagcloud > .disabledTag {
    background-color: lightgray;
    color: gray;
    font-weight: bold
}

.tagcloud > a:hover {
    color: white !important;
}

.tagcloud a {
    color: black;
}

.tagcloud > .disabledTag:hover {
    background-color: lightgray;
    color: darkgray !important;
    border-color: lightgray;
}
